extends layout
block content

    if(!errors)
        -var errors = {};
    
    if(!form)
        -var form = {};

    if(errors.nombre)
        -var isValidNombre =  'is-invalid' ;
    -else if(!errors.nombre && form.nombre)
        -var isValidNombre =  'is-valid' ;
    
    if(errors.apellido)
        -var isValidApellido = 'is-invalid';
    -else if(!errors.apellido && form.apellido)
        -var isValidApellido =  'is-valid' ;
    
    if(errors.correo)
        -var isValidCorreo =  'is-invalid' ;
    -else if(!errors.correo && form.correo)
        -var isValidCorreo = 'is-valid';
    
    if(errors.password1)
        -var isValidPassword = 'is-invalid';
    -else if(!errors.password1 && form.password1)
        -var isValidPassword = 'is-valid' ;
    


    .container
        .row
            .col-md-12.col-sm-12
                form.justify-content-md-center.shadow.p-4(action='/auth/registro-usuario', method='POST')
                    .recuperarContrasena-formulario
                        img(src='/img/LogoNombre.png')
                    .form-row
                        .form-group.col
                            label.form-label(for='nombre') Nombre
                            input.form-control(type='text', placeholder='Nombre', id='nombre' name='nombre',  class=isValidNombre, value=form.nombre ? form.nombre : '')
                            if(errors.nombre)
                                .invalid-feedback=errors.nombre
                            if(form.nombre)
                                .valid-feedback
                        .form-group.col
                            label.form-label Apellido
                            input.form-control( type='text', placeholder='Apellido', name='apellido'  class=isValidApellido, value=form.apellido ? form.apellido : '')
                            if(errors.apellido)
                                .invalid-feedback=errors.apellido
                            -else if(form.apellido)
                                .valid-feedback

                    .form-group
                        label.form-label Email
                        input.form-control(type='email',placeholder='Email', name='correo', class=isValidCorreo , value=form.correo ? form.correo :  '')
                        if(errors.correo)
                            .invalid-feedback=errors.correo
                        -else if(form.correo)
                            .valid-feedback
                    .form-group
                        label.form-label Contrase単a
                        input.form-control(type='password',autocomplete='on', name='password1' placeholder='Contrase単a', class=isValidPassword, value=form.password ? form.password : '')
                        if(errors.password1)
                            .invalid-feedback=errors.password1
                        -else if(form.password1)
                            .valid-feedback
                    .form-group
                        label.form-label Repetir Contrase単a
                        input.form-control(type='password',autocomplete='on', name='password2' ,placeholder='Repetir Contrase単a', class=isValidPassword, value=form.password ? form.password : '')
                    button.buttom.hollow(type='submit') Registrar
